# Build

/build/*
!/build/.gitkeep
!/build/assets/
!/build/assets/**

# Project
src/*
!src/.gitkeep
!src/README.md

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.obj
!build/assets/**/*.obj

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Sublime Text

*.sublime-workspace

# vs code

.vscode

# Mac

**/.DS_Store

# Odin
ols.json
