[submodule "libs/vkb"]
	path = libs/vkb
	url = https://github.com/Capati/odin-vk-bootstrap.git
	ignore = all
[submodule "libs/vma"]
	path = libs/vma
	url = https://github.com/Capati/odin-vma.git
	ignore = all
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/Capati/odin-imgui.git
